<div id="backgrounds">
    <ul>
        <li class="map"></li>
        <% _.each(collection.models, function(city){ %>
            <li class="<%=city.get('color')%>"></li>
        <% }); %>
    </ul>
</div>
<header>
    <nav>
        <ul>
            <li><a href="#/">HOME</a></li>
            <li>|</li>
            <li><a href="javascript: void(0);" class="contact">CONTACT</a></li>
        </ul>
    </nav>
    <h1>Enterprise Content Management in Customer Service</h1>
</header>
<div id="map"></div>
<div id='contact' class='hidden'></div>