<h1>Customer Service Management</h1>
<div class="content">
    <h3>CONTACT</h3>
    <ul>
        <li>
            <a href='http://www.google.com/' target="_blank">
                <span class='icon'>GO</span>
                E-MAIL A REPRESENTATIVE
            </a>
        </li>
        <li>
            <a href='http://www.google.com/' target="_blank">
                <span class='icon'>GO</span>
                REQUEST A DEMO OR ADDITIONAL INFORMATION
            </a>
        </li>
    </ul>
    <p>
        OR CALL US AT <span>(123) 123-1234</span>
    </p>
    <button type='button'>EXPLORE MORE</button>
</div>