<div id='home'>
    <h1>Enterprise Content Management in Customer <br>	Service</h1>
    <div class="content">
        <h3>DRIVING LOYALTY FOR LIFE</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum lobortis risus sed aliquet. Sed ut rutrum lorem. In nec iaculis metus, quis porttitor ante. </p>
        <p>Aliquam lacinia mollis ipsum vitae sodales. Morbi egestas molestie commodo. Phasellus eleifend luctus odio eget luctus. Proin et diam malesuada, ornare velit et, iaculis metus. Aenean et ante erat. Donec ac nisl sem. Aliquam elementum sapien id quam porttitor, ut venenatis felis tempor. Morbi mattis enim non mauris elementum, in viverra felis lobortis. Sed porta mattis orci non gravida.</p>
        <p>Nullam sodales tortor a elit dapibus, quis feugiat magna tincidunt. Proin vulputate lectus a ligula pulvinar, et interdum dui mattis. Suspendisse lacinia massa eu urna lacinia cursus. Vestibulum tincidunt et tellus at iaculis. Pellentesque quis leo eu velit ultricies facilisis a nec mi. </p>
        <p><span>Aliquam consectetur eleifend erat. Ut placerat dolor velit, nec dignissim est iaculis nec. Mauris sit amet ultricies metus, quis varius felis. Mauris gravida nulla non congue molestie. </span></p>
        <button type='button' onclick="window.location.href='#/app'">EXPLORE NOW</button>
    </div>
</div> <!-- end of #home -->