#app {
    color: #123456;
    @each $curr_color in $cities {
        &.#{$curr_color} #backgrounds li.#{$curr_color} { @include opaque; }	
    }
}

#backgrounds {
    li {
        background: no-repeat center center;
        @include transition(opacity 0.5s ease-out);
        @include transparent;

        &.map {background-image: url('../img/app_bgs/map.jpg'); @include opaque; }
        &.green { background-image: url('../img/app_bgs/green.jpg'); }
        &.blue { background-image: url('../img/app_bgs/blue.jpg'); }
        &.purple { background-image: url('../img/app_bgs/purple.jpg'); }
        &.yellow { background-image: url('../img/app_bgs/yellow.jpg'); }
    }
}


footer {
    background: no-repeat center bottom url('../img/map/footer/bg.png');
    li {
        &.icon {
            &.active .text { @include opaque; }
            a {
                .text { @include opacity(0.5); }
                &:hover .text { @include opaque; }
            }
        }
    }
}
